/* 
font-family: 'Chivo', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
/**
COMMON CSS START
**/
*{
    margin: 0;
    padding: 0;

}
body{
    box-sizing: border-box;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif; 
    color: #111;
    font-weight: 400;
    margin:  0;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
}
.wpb_wrapper {
    width: auto;
    height: auto;
}
.td_module_flex {
    position: relative;
    width: 100%;
    display: inline-block;
}
.td-module-container {
    display: flex;
    position: relative;
    flex-direction: row;
}
.td-image-container {
    flex: 0 0 50%;
    width: 50%;
    display: block;
    order: 0;
    margin-left: 0;
    margin-right: auto;
    position: relative;
}
.td-module-thumb {
    position: relative;
}
a.td-image-wrap {
    display: block;
    position: relative;
    padding-bottom: 100%;
}
span.entry-thumb {
    background-position: center 50%;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}
.td-module-meta-info {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: #eaeaea;
}
.tdm-block {
    display: inline-block;
}
/**
COMMON CSS END
**/
/**
HEADER SECTION START
**/
header.header-section {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 12%);
}
span.logo-text-wrap {
    flex-direction: row;
    align-items: baseline;
    display: flex;
}
.logo-a h1 {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}
a.logo-a {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
}
span.logo-text-title{
    display: block;
    background-image: url(../image/text-bg.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000000;
    font-family: 'Chivo', sans-serif;
    font-size: 54px !important;
    line-height: 1.2 !important;
    font-weight: 900 !important;

}
span.logo-text-tagline {
    margin-top: 0;
    margin-left: 6px;
    display: block;
    color: #000000;
    font-family: Chivo !important;
    font-size: 40px !important;
    line-height: 1.2 !important;
    font-weight: 900 !important;
    letter-spacing: -1px !important;
}
.header-section .column_25 {
    width: 25%;
    vertical-align: baseline;
}
.header-section .column_50 {
    width: 60%;
    text-align: center;
    display: inline-block;
    justify-content: center;
}
.header-section .column_50 {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    /* display: inline-grid; */
}
.tds_menu_login {
    display: inline-block;
}
.tdm_block_button {
    display: inline-block;
}
/**
HEADER SECTION END
**/
/**
MAIN SECTION START
**/
/**
ID tdi01 SECTION START
**/
.tdi_10 {
    margin-bottom: 20px;
    padding-top: 60px;
    display: flex;
}
.tdi_11 {
    width: 60%;
}
.tdi_12 {
    width: 40%;
}
#faka {
    display: flex;
    column-gap: 20px;
}
#faka .td-module-meta-info {
    padding-left: 0;
}
#faka .td-image-container {
    width: 100%;
}
#faka .td-module-container {
    flex-direction: column;
}
/**
ID tdi01 SECTION END
**/
/**
ID tdi02 SECTION START
**/
.tdi_13 {
    margin-bottom: 100px;
}
.tdi_15 {
    text-align: center;
    position: relative;
}
.tdi_16 {
    margin-bottom: 30px !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    width: auto !important;
    position: relative;
    display: inline-block;
}

/**
ID tdi02 SECTION END
**/
/**
ID tdi03 SECTION START
**/
.tdi_17 {
    background-color: #000;
    padding: 5px 20px;
}
.tdi_17 h3.tdm-title {
    color: #ffffff;
    font-family: 'Chivo', sans-serif;
    font-size: 28px !important;
    line-height: 1.1 !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-top: 2px;
}
.tdi_118 .td_module_flex {
    width: 29.333333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12.5px;
    margin-bottom: 12.5px;
    
}
.tdi_118 .td-image-container {
    display: none;
}
.tdi_118 .td-module-container {
    padding: 20px 0 0 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #eaeaea !important;
}
.td-load-more-wrap {
    margin-top: 40px;
    text-align: center;
}
a.td_ajax_load_more {
    color: #000000;
    background-color: #eaeaea;
    padding: 12px 20px;
    border-width: 0px;
    font-family: Raleway !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    letter-spacing: 0.5px !important;
}
/**
ID tdi03 SECTION END
**/
/**
ID tdi04 SECTION START
**/
#tdi04 {
    width: 1068px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#tdi04 .vc_row {
    margin-bottom: 100px;
}

/**
ID tdi04 SECTION END
**/
/**
ID tdi05 SECTION START
**/
#tdi05 {
    background-color: #000000;
}
#tdi05 .vc_row {
    margin-bottom: 100px !important;
    padding-top: 60px !important;
    padding-right: 10px !important;
    padding-bottom: 80px !important;
    padding-left: 10px !important;
    position: relative;
}
#tdi05 .vc_row_inner {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12.5px;
    margin-bottom: 12.5px;
}
#tdi05 h3.tdm-title {
    font-family: Chivo !important;
    font-size: 54px !important;
    line-height: 1 !important;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    color: #ffffff;
}
#tdi05 .vc_column_inner {
    display: flex;
    align-items: center;
}

element.style {
}
a.tds-button1 {
    height: auto;
    padding: 12px 24px;
    font-family: Raleway !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    background-color: #444444;
    color: #fff;
}
.tdi_119 .td_module_flex {
    width: 29.333333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12.5px;
    margin-bottom: 12.5px;
    
}
/**
ID tdi05 SECTION END
**/
/**
ID tdi06 SECTION START
**/
#tdi06 .vc_row {
    display: flex;
    margin-bottom: 100px;
}
#tdi06 .vc_column {
    width: 50%;
}
a.td_single-image-bg{
    width: 100%;
    display: block;
    height: auto;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.tdi_21 {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: #eaeaea;
}
.tdi_122 {
    display: flex;
    column-gap: 20px;
}
/**
ID tdi06 SECTION END
**/
/**
ID tdi07 SECTION START
**/
#tdi07 {
    text-align: center;
}
/**
ID tdi07 SECTION END
**/
/**
ID tdi08 SECTION START
**/
#tdi08 .vc_row {
    display: flex;
    margin-bottom: 100px;
}
.column-25 {
    width: 25%;
}
#tdi08 .td_module_flex {
    width: 100%;
}
.column-50 {
    width: 50%;
}
.column-50 .td-module-container {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.column-25 .td_module_flex {
    padding-left: 0;
    padding-right: 0;
}
.column-50 .td-image-container {
    width: 80%;
    margin: 0 auto;
}
#tdi08 .td-module-meta-info {
    padding-left: 0;
}
.column-50 .td-module-meta-info {
    
    padding-top: 25px;
}
/**
ID tdi08 SECTION END
**/
/**
ID tdi09 SECTION START
**/
#tdi09 .vc_row {
    margin-bottom: 100px;
    display: flex;
}
.column-75{
    width: 75%;
}
.column-25{
    width: 25%;
}
/**
ID tdi09 SECTION END
**/

/**
MAIN SECTION END
**/